.cart-container {
    min-height: 100vh;
}

.cart-box {
    width: 993px;
    height: 100px;
    background-color: #fff;
    margin: 100px auto;
    box-shadow: -10px 10px 19px rgba(10, 10, 10, 0.1);
    position: relative;

}

.cart-box img {
    width: 80px;
    height: 105px;
    margin: 0 10px;
}

.cart-box table {
    width: 100%;
    border-collapse: collapse;
}

.cart-box thead th {
    padding: 16px 10px;
    color: #979797;
    font-size: 15px;
    border-bottom: 2px solid #d9d9d9;
}

.cart-box table td {
    border-bottom: 2px solid #d9d9d9;
    padding: 15px;
    text-align: center;
    font-weight: 600;
    background-color: white;
}

.cart-box table td svg {
    font-size: 20px;
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}

.item {
    display: flex;
    gap: 20px;
}

.cart-box p {
    text-align: end;
    padding: 20px 40px;
    font-size: 22px;
    font-weight: 600;
}

.cart-box button {
    background-color: #ffd814;
    font-size: 14px;
    color: var(--text-darkColor);
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    width: 158px;
    cursor: pointer;
    margin: 30px 0 30px 800px;
}

/* ----- Modal */
.modal-box {
    width: 692px;
    height: 536px;
    text-align: center;
}

.modal-box .modal-content {
    margin: 110px 79px;
}

.modal-box .modal-content p {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 40px;
}

.modal-box svg {
    font-size: 25px;
    margin-left: 600px;
    cursor: pointer;
}

.modal-box button {
    width: 156px;
    height: 41px;
    background-color: #5264c3;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}



/* ==tablet */
@media screen and (max-width: 850px) {
    .cart-box {
        width: 680px;
        height: 783px;
        background-color: #fff;
    }

    .cart-box img {
        width: 70px;
        height: 95px;
    }

    .item {
        display: flex;
        gap: 10px;
    }

    .cart-box p {
        text-align: end;
        padding: 20px 40px;
        font-size: 18px;
        font-weight: 600;
    }

    .cart-box button {
        margin-left: 500px;
    }

}


/* ==Mobile */
@media screen and (max-width: 480px) {
    .cart-box {
        width: 373px;
        height: 783px;
    }

    .cart-box thead th {
        display: none;
    }

    .cart-box table tbody td {
        border: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .cart-box table tbody tr {
        border-bottom: 2px solid #d9d9d9
    }

    .cart-box img {
        width: 70px;
        height: 85px;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .cart-box button {
        margin-left: 200px;
    }

    .cart-box table td svg {
        margin-left: 300px;
    }

    .modal-box {
        width: 302px;
        height: 500px;
        text-align: center;
    }

    .modal-box .modal-content {
        margin: 40px 0px;
    }

    .modal-box .modal-content p {
        font-size: 16px;
        margin-bottom: 60px;
    }

    .modal-box svg {
        font-size: 25px;
        margin-left: 250px;
        cursor: pointer;
    }


}