.product-container {
    min-height: 100vh;
}

.product-box {
    width: 863px;
    height: 783px;
    background-color: #fff;
    margin: 100px auto;
    display: flex;
    align-items: center;
    box-shadow: -10px 10px 19px rgba(10, 10, 10, 0.10);

}

.product-box img {
    width: 250px;
    height: 305px;
    margin: 117px 100px;
}

.product-details {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-details h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.product-details span {
    font-size: 20px;
    font-weight: 600;
}

.product-details p {
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
}

.product-details button {
    background-color: #ffd814;
    font-size: 14px;
    color: var(--text-darkColor);
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    width: 168px;
    cursor: pointer;
    margin-top: 30px;
}


@media screen and (max-width: 850px) {

    .product-container {
        min-height: 100vh;
    }

    .product-box {
        width: 676px;
        height: 783px;
        flex-direction: column;
    }

    .product-box img {
        width: 215px;
        height: 290px;
        margin-top: 60px;
    }

    .product-details {
        width: 380px;
        height: 300px;
        margin-top: -20px;
    }

    .product-details h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .product-details span {
        font-size: 18px;
        font-weight: 600;
    }

    .product-details p {
        font-size: 14px;
        font-weight: 400;
    }

    .product-details button {
        margin: 0px auto;
        margin-bottom: 50px;
    }

}


/* ==Mobile */
@media screen and (max-width: 480px) {
    .product-box {
        width: 347px;
        height: 632px;
        flex-direction: column;

    }

    .product-box img {
        width: 110px;
        height: 154px;
        margin-top: 30px;
    }

    .product-details {
        width: 250px;
    }

    .product-details h3 {
        font-size: 14px;
    }

    .product-details span {
        font-size: 16px;
    }

    .product-details p {
        font-size: 13px;
        font-weight: 400;
    }

}