.card-container {
    display: flex;
}

.card {
    border: 1px solid #E7E7E7;
    width: 10rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}

.card img {
    border: 1px solid #E7E7E7;
    border-radius: .75rem;
    aspect-ratio: 1/1.2;
    object-fit: contain;
    width: max(9rem);
    background-color: #FFFFFF;
}

.title {
    font-size: 1rem;
}

.category {
    font-size: .75rem;
    color: #949494;
}