.page-body {
    margin: 0 130px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    /* TabletCSS goes here*/
}

@media screen and (max-width: 480px) {
    /* Mobile CSS goes here*/
}