.footer {
    height: min(66px);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.footer-content {
    display: flex;
    color: #fcfcfc;
    font-size: 12px;
    font-weight: 400;
}

.icon {
    align-self: center;
    margin: 0 2px;
}

.footer a {
    color: #fcfcfc;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}