.categories {
    display: flex;
}

.navBar {
    text-decoration: none;
    color: #5264C3;
    font-size: 1.25rem;
    margin: 20px 28px 20px 0
}

.categories button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid transparent; /*so the hover effect doesn't rattle the page*/
}

.categories button:hover{
    border-bottom: 2px solid #5264C3;
}

@media screen and (max-width: 768px) {
    /* TabletCSS goes here*/
}

@media screen and (max-width: 480px) {
    /* Mobile CSS goes here*/
}
