.navHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  /* border: 1px solid cornflowerblue; */
}

.main-title {
  text-decoration: none;
  color: #3A4895;
  font-size: 1.5rem;
  font-weight: 800;
}

.cart-container {
  position: relative;
}

.cart-icon {
  min-height: auto;
}

.cart-size {
  height: 16px;
  position: absolute;
  top: -2px;
  left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cart-number {
  position: relative;
  color: whitesmoke;
  font-size: .75rem;
  right: 13px;
}

@media screen and (max-width: 768px) {
  /* TabletCSS goes here*/
}

@media screen and (max-width: 480px) {
  /* Mobile CSS goes here*/
}